nav{
    background-color: #2199e8;
}

.nav-img{
    height: 5%;
    width: 10%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}