{% extends 'base.html.twig' %}

{% block title %}Ship types{% endblock %}

{% block body %}
    <div class="container">
        <p>Ports compatibles</p>
        <p>Type de navire : {{ aisShipType.id }}</p>        
    </div>
{% endblock %}
